/* Wide screen (PCs) */
@media screen and (min-width: 780px) {
  :root {
    --navbar-width: 100vw;
    --navbar-height: 4em;
    --navbar-direction: row;

    --main-page-margin: 4.5em;

    --twitch-flex-direction: row;

    --twitch-height: 495px;
    --twitch-width: 880px;

    --twitch-chat-height: 495px;
    --twitch-chat-width: 250px;

    --schedule-height: 450px;
    --schedule-width: 800px;

    --twitter-height: 550px;
    --twitter-width: 100%;

    --bsky-height: 525px;
    --bsky-width: 100%;

    --collection-height: 550px;
    --collection-width: 100%;

    --website-image-height: 225px;
    --website-image-width: 400px;
  }

  button.navbar-collapse-button {
    display: none;
  }
}

/* Narrow screen (phones) */
@media screen and (max-width: 779px) {
  :root {
    --navbar-width: 7em;
    --navbar-height: 100vh;
    --navbar-direction: column;

    --main-page-margin: 3em;

    --twitch-flex-direction: column;

    --twitch-height: 180px;
    --twitch-width: 320px;

    --twitch-chat-height: 300px;
    --twitch-chat-width: 320px;

    --schedule-height: 450px;
    --schedule-width: 100%;

    --twitter-height: 525px;
    --twitter-width: 100%;

    --bsky-height: 475px;
    --bsky-width: 100%;

    --collection-height: 550px;
    --collection-width: 100%;

    --website-image-height: 180px;
    --website-image-width: 320px;
  }

  div.navbar-container.collapsed .navbar {
    display: none;
  }

  div.navbar-container.collapsed {
    width: 0;
  }
}

div.navbar-container {
  height: var(--navbar-height);
  width: var(--navbar-width);
  background-color: red;

  display: flex;
  flex-direction: var(--navbar-direction);
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  transition: width 0.5s;
}

div.navbar {
  display: flex;
  flex-direction: var(--navbar-direction);
  align-items: center;
}

a.navbar-link {
  color: white;
  text-decoration: none;

  margin: 0.5em;

  text-align: center;
}

a.dropdown-link {
  color: black;
  text-decoration: none;
}

div.navbar label#websites-input-label {
  color: white;
}

div.navbar div#websites-select {
  width: 5em;
}

button.navbar-collapse-button {
  margin-top: 1em;
  padding: 0;

  transition: margin 0.5s;
}

button.navbar-collapse-button svg {
  transition: color 0.5s;
}

.navbar-container.collapsed button.navbar-collapse-button {
  margin-left: 5em;
}

div.main-page {
  margin-top: var(--main-page-margin);
  padding: 1em;
  min-height: 37em;

  border: 2px solid black;
  border-radius: 2em;
}

img.site-logo {
  margin: 7px;
}

span.video-footnote {
  font-size: small;
}

div.twitch-box {
  display: flex;
  flex-direction: var(--twitch-flex-direction)
}

iframe.twitch-iframe {
  height: var(--twitch-height);
  width: var(--twitch-width);

  margin: 1em 1em 0 0
}

iframe.twitch-chat-iframe {
  height: var(--twitch-chat-height);
  width: var(--twitch-chat-width);

  margin-top: 1em
}

iframe.schedule-iframe {
  height: var(--schedule-height);
  width: var(--schedule-width);

  border-width: 0;
}

iframe.twitter-iframe {
  height: var(--twitter-height);
  width: var(--twitter-width);
}

iframe.bsky-iframe {
  height: var(--bsky-height);
  width: var(--bsky-width);
}

iframe.collection-iframe {
  height: var(--collection-height);
  width: var(--collection-width);
}

img.website-image {
  height: var(--website-image-height);
  width: var(--website-image-width);

  margin: 0.5em;
}
